#checkoutTable{
    border: black ;
    border-style: solid;
    border-width: 2px;
    background-color:skyblue;
    color: black;
    margin-left: 100px;
    margin: 0 auto;
    text-align:center;
}

th,td{
    border: black solid 2px;
    background-color:rgb(0, 0, 255,0.2);
    text-align: center;
    padding:5px;
}

td{
    border: black solid 2px;
    background-color:rgb(173, 216, 230,0.2);
    text-align: center;
    padding:5px;
}

#tasksForm{
    padding:40px ;
    border-radius: 20px;
    margin: 0 auto;
    text-align:center;
    font-weight: bold;
    background-color: rgb(127, 175, 214,0.2);
   width: 500px;
}

h2{
    font-weight: bold;
        text-align:center;
        text-decoration:underline;
}

#toDoTasks{
    font-weight: bold;
    text-align:center;
    text-decoration:underline;
    text-align: center;
}

#tasksFormDiv
{
    float: left;
    margin-left: 8%;
}

#toDoLists{
    font-weight: bold;
    text-align:center;
    text-decoration:underline;
}

#toDoListsDiv{
    float: right;
    margin-right: 8%;
}

button{
    margin-left:5px ;
    margin-right: 5px;
}